MortgageCalcClient/src/conf/xml-resources/web-service-references/MortgageCalcWS/wsdl/localhost_8080/MortgageCalcWS/MortgageCalcWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://mortgagecalc.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mortgagecalc.me.org/">

<xs:element name="calcMortgage" type="tns:calcMortgage"/>

<xs:element name="calcMortgageResponse" type="tns:calcMortgageResponse"/>

<xs:complexType name="calcMortgage">
<xs:sequence>
<xs:element name="amount" type="xs:double"/>
<xs:element name="rate" type="xs:double"/>
<xs:element name="year" type="xs:int"/>
<xs:element name="month" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcMortgageResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>